/******************************************/
/*	                                      */
/*	           ALL TEMPLATES              */
/*	                                      */
/******************************************/
html {
	/* Force a scrollbar on the page, to avoid a reposition of elements at
	 * when it toggles */
	overflow-y: scroll;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height:1.8em;
	color: #a7a7a7;
}

h1, h2, h3, h4, h5, h6, .emphasis {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #444;
}


a {
	color: #444;
	text-decoration:none;
}
a:hover, a:active, a:focus {
	color: #b7b7b7;
}

i, em {
	font-style: italic;
}

.spacer {
	clear: both;
}

.bottom-margin {
	margin-bottom:15px;
}

.console {
	font-family:"Courier New", Courier, monospace;
}

.caption {
	text-align:center;
	font-style: italic;
}

/* FORMS */
textarea, input[type="text"], input[type="email"] {
	width:100%;
	background-color: white;
	border: 1px solid #d7d7d7;
	appearance: none;
	padding:8px;
	margin-bottom:15px;

	/* For a real 100% width on textarea */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


textarea {
	min-height:200px;
	resize:vertical;
}

input[type="text"], input[type="email"] {
	line-height:1.5em;
}

.button-wrapper {
	text-align: right;
}

/* If there are more than one button inside the wrapper, add a margin between
 * them, except the last one to avoid a gap on the right border */
.button-wrapper input[type="text"],
.button-wrapper button {
	margin-right:5px;
}
.button-wrapper input[type="text"]:last-child,
.button-wrapper button:last-child {
	margin-right:0;
}

.button-wrapper label {
	margin-right:15px;
}

input[type="submit"], button {
  display: inline-block;
  margin: 0;
  padding: 5px 45px;
  font-size:13pt;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border:0;
  background-color: #fb0000;
  color:white;
}

button .material-icons {
	font-size:1em;
	margin-right:5px;
}

input[type="submit"].secondary, button.secondary {
	background-color:#a7a7a7;
	padding:5px 21px;
	font-size:9pt;
}

input[type="submit"].highlight, button.highlight {
	background-color:#ff0000;
}

input[type="submit"].secondary.selected, button.secondary.selected {
	background-color:#d7d7d7;
}

/* MAIN CONTAINER */
.top-container {
	width:80%;
	margin:auto;
}
.top-container-wide {
	width:95%;
}

/* PRIMARY NAVIGATION */
nav#primary-nav {
	margin:20px 0;
	text-align:right;
}
nav#primary-nav ul li {
	display: inline-block;
}
nav#primary-nav a {
	text-decoration: none;
	display: block;
	margin-left: 60px;
	padding: 8px 0;

	 /* Color same as background-color to avoid element changing size when
	  * hovered (see next rule) */
	border-bottom:1px solid white;
}

nav#primary-nav ul li a:hover,
nav#primary-nav ul li a:active,
nav#primary-nav ul li a:focus,
nav#primary-nav ul li.current a {
	border-bottom:1px solid #ff0000;
	color:#444;
}

/* CONTENT */
#content {
	width:100%;
}
#content.content-narrow {
	width:40%;
	margin:auto;
}


/* FOOTER */
footer#primary-footer {
	border-top: 1px solid #d7d7d7;
	padding:40px 0;
	margin-top:120px;
	text-align: center;
	font-size:small;
}

.footer-graphic-element {
	display:inline-block;
	vertical-align:top;
	margin:0 25px;
}

.footer-element-description {
	display:block;
	text-align:center;
}

.ngsens-collaboration img {
	width:100px;
}

.heig-collaboration img {
	height:57px;
}

.footer-author {
	text-align:center;
}





/******************************************/
/*	                                      */
/*	           TEMPLATE: HOME             */
/*	                                      */
/******************************************/

/* PRIMARY HEADER */
header#primary-header {
	text-align:center;
	margin:120px 0;
}

/* TAG LINES */
ul.tag-lines {
	max-width:600px;
	margin:60px auto;
}
ul.tag-lines li {
	margin:20px 0;
}
ul.tag-lines li:not(:last-child)::after {
	/* Red lines between tag lines. On <= IE8, there is probably also a line
	 * after the last element because it does not support `:not(:last-child)` */
	content: "";
	display:block;
	width:100px;
	height:1px;
	margin: 20px auto;
	border-bottom: 1px solid #ff0000;

}

/* CONTENT */
#content {
	display:table;
	width:100%;
}

/* MULTI-PANES SYSTEM (for switching through forms on home page) */
.multi-panes-selectors {
	border-right:1px solid #d7d7d7;
	vertical-align: top;
}
.multi-panes-selector a {
	display: block;
	padding:15px 30px 15px 0;
	text-align:right;
	text-decoration: none;
}

.multi-panes-selector a:hover,
.multi-panes-selector a:focus,
.multi-panes-selector a:active {
	/* Cancel default color change on hover, looks better without */
	color:#444;
	/* Dotted lines on firefox makes it weird */
	outline: none;
}
.multi-panes-selector {
	position:relative;
	right:-1px;
	border-top: 1px solid white;
	border-right: 1px solid #d7d7d7;
}
.multi-panes-current-selector {
	border-top: 1px solid #d7d7d7;
	border-right: 1px solid white;
	border-bottom: 1px solid #d7d7d7;
}

/* First child looks better without a separator above it */
.multi-panes-selector:first-child {
	/* same color as background to hide it */
	border-top:1px solid white;
}
	
.multi-panes-panes {
	vertical-align: top;
	width: 75%;
}

.multi-panes-pane {
	display:none;
}

.multi-panes-current-pane {
	display:block;
}

/* HOME PAGE FORMS */

.field-row {
	display:table;
	width:100%;
	font-size: 0px;
	letter-spacing: 0px;
	word-spacing: 0px;
}
.field-row .field-main, .field-row .field-aside {
	font-size: medium;
	letter-spacing: normal;
	word-spacing: normal;
}
.field-main {
	display:inline-block;
	width:60%;
	vertical-align:top;
	padding:0 3.5% 20px 3.5%;
	border-right:1px solid #d7d7d7;
}
.field-aside {
	display:inline-block;
	width:26%;
	padding-left:3.5%;

	/* Trick to overlap border with the one of field-main, so that the line
	 * seems to be of the height of the highest div between both */
	border-left:1px solid #d7d7d7;
	position:relative;
	right:1px;
}

.additional-info {
	margin-bottom:30px;
}
.additional-info .emphasis {
	margin-bottom:15px;
}

.additional-info .emphasis .material-icons {
	color:#d7d7d7;
	font-size:13pt;
	line-height:15pt;
	margin-right:10px;
}

/* Make all three columns have the same height, so that the grey vertical line
 * reaches the bottom of the page */
.multi-panes {
	display: table;
}
.multi-panes-selectors, .multi-panes-panes {
	display:table-cell;
}


/******************************************/
/*	                                      */
/*	           TEMPLATE: MAP              */
/*	                                      */
/******************************************/
/* Two main columns of the app. Left columns contains the sources, right
 * column contains the leaflet map */
#source-types-list, #view, #leaflet-map {
	height:700px;
	padding:0;
}
#view {
	position:relative;
}
.view-switcher {
	position:absolute;
	display:inline;
	z-index:10;
	top:0;
	right:0;
	background-color:lightgrey;
	background-color:rgba(255, 255, 255, 0.5);
	padding:5px;
}
#view .view-switcher button {
	margin:0;
}

/* LEFT COLUMN (sources lists) */
#source-types-list {
	width:28%;
	padding-right:1%;
	overflow-y: auto;
	overflow-x: hidden;
	float:left;
}
#view {
	width:69%;
	float:right;
}

#map-wrapper {
	position:relative; /* to fix "more details for location" block at bottom */
}

.trackers-list a, #source-types-list a.material-icons {
	color:#a7a7a7;
}

.source-type-element {
	margin-bottom:25px;
}
.source-type-title {
	margin-bottom:15px;
}

.source-row .source-name {
	float:left;
}
.source-element {
	border-bottom: 1px solid #d7d7d7;
}
.source-row input[type="checkbox"] {
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}
.source-name {
	display:block;
	width:90%;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.more-details {
	display:inline;
}
.more-details .material-icons {
	float:right;
	width:20px;
}

/* Forms to add elements to source lists */
.source-type-element .toggle-form {
	padding:0 0 0 20px;
	margin:20px 0 0 20px;
}
.source-type-element .toggle-form.open {
	border-left:1px solid #d7d7d7;
}


/* Table that list trackers for a source or location */
.trackers-list {
	width:100%;
	table-layout: fixed;
	font-size:small;
	margin-bottom:20px;
}
.trackers-list a {
	color:#a7a7a7;
}
.trackers-list a:hover, .trackers-list a:focus, .trackers-list a:active {
	color:#fb0000;
}

.trackers-list td, .trackers-list th {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0 15px;
	margin: 0;
	line-height:1.1em;
	width:33%;
}
.trackers-list th {
	height:1.5em;
	line-height:1.5em;
}

.tracker-full-domain-col {
	text-align:left;
}
.tracker-main-domain-col {
	text-align:center;
}
.tracker-organization-col {
	text-align:right;
}


.trackers-list td:first-child,
.trackers-list th:first-child {
	padding:0;
}
.trackers-list td:last-child,
.trackers-list th:last-child {
	padding:0;
}


/* ACTUAL MAP */
.trackers-marker {
	background-color:#fb0000;
	border-radius: 50%;
    text-align: center;
    color: black;
	border-radius:50%;
	font-size:12pt/30px; /* 30px = size of leaflet icon height */
	line-height:30px; /* same */
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    font-weight:bolder;
    border:1px solid black;
}

.trackers-marker.closed {
	background-color:#d7d7d7;
}

/* Location details (div that expands when user clicks on a marker) */
.location-details-wrapper {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.8);
	width:100%;
	max-height:240px;
	overflow-y: auto;
	position:absolute;
	bottom:0;
}

.location-details {
	padding:35px;
}

.location-details .trackers-list {
	width:auto;
}

/* grey doesn't look good on half opac background of location-details-wrapper */
.location-details .trackers-list, .location-details a {
	color:#666;
}

.location-details-title {
	margin-bottom:15px;
}
/* red dot before details title */
.location-details-title:before {
	content:"\26ab";
	color:#fb0000;
	margin-right:15px;
}

/* TRACKER DETAILS */
.tracker-details {
	margin-top:50px;
	padding-top:50px;
	border-top:1px solid #d7d7d7;
}

.tracker-details-section {
	margin:10px 0 35px 0;
}
.tracker-details-section .section-title {
	margin-bottom:10px;
}
.tracker-details-table-wrapper .tracker-prop-col {
	padding-right:50px;
}

.tracker-details-table-wrapper .tracker-value-col {
	font-family:"Courier New", Courier, monospace;
}